.App {
  text-align: center;
  padding-top: 20px;
}

.preview-container {
  width: 55%;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 4px;
}

th {
  background-color: rgb(58, 58, 58);
  color: whitesmoke;
}

th, td {
  border: 1px solid rgb(0, 0, 0);
  min-width: 35px;
  width: 50px;
  height: 35px;
}

.player-name {
  font-weight: 600;
}

.boxscore {
  overflow-x: auto;
}

.boxscore-hr {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 0;
}

.statsheet {
  width: 100%;
}

.player-stats-col {
  float: left;
  width: 47%;
  margin: 2% 1.4%;
  /* border: 1px solid black; */
}

.starter {
  background-color: rgb(226, 226, 226);
}

.player-stats-nba {
  font-size: 14px;
}

.player-stats-mlb {
  font-size: 14px;
}

.player-stats-mlb>div {
  width: fit-content;
  margin: 0 auto;
}

.player-stats-nba>table>tbody>tr>th, .player-stats-nba>table>tbody>tr>td {
  padding: 0 6px;
  width: fit-content;
  min-width: 45px;
}

.player-stats-mlb>table>tbody>tr>th, .player-stats-mlb>table>tbody>tr>td {
  padding: 0 6px;
  width: fit-content;
  min-width: 35px;
}

.information-container {
  text-align: left;
  clear: both;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.information-container h2 {
  text-align: center;
  margin-top: 0;
}

.information-container h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.information-container ul {
  margin: 0;
  width: fit-content;
}

@media only screen and (max-width: 1020px) {

  .boxscore-container h1 {
    width: 85%;
    margin: 20px auto;
  }

  .player-stats-col {
    float: none;
    width: 85%;
    margin: 0 auto;
    /* border: 1px solid black; */
  }

  .boxscore {
    width: 85%;
    margin: 0 auto;
  }

  .player-stats-mlb>div {
    width: 100%;
    overflow-x: auto;
  }

  .player-stats-nba {
    width: 100%;
    overflow-x: auto;
  }

  tr {
    min-width: 40px;
  }

}

@media only screen and (max-width: 780px) {

  .preview-container {
    width: 80%;
  }

}

@media only screen and (max-width: 600px) {

  .information-container {
    width: 75%;
  }

}
