.App {
  text-align: center;
  padding-top: 20px;
}

.preview-container {
  width: 55%;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 4px;
}

th {
  background-color: rgb(236, 236, 236);
}

th, td {
  border: 1px solid rgb(0, 0, 0);
  width: 50px;
  height: 35px;
}

.statsheet {
  width: 100%;
}

.player-stats-col {
  float: left;
  width: 47%;
  margin: 2% 1.4%;
  /* border: 1px solid black; */
}

.starter {
  background-color: rgb(221, 235, 240);
}

.player-stats-nba {
  font-size: 14px;
}

.player-stats-mlb {
  font-size: 14px;
}

.player-stats-nba>table>tbody>tr>th, .player-stats-nba>table>tbody>tr>td {
  padding: 0 6px;
  width: fit-content;
  min-width: 45px;
}

.player-stats-mlb>table>tbody>tr>th, .player-stats-mlb>table>tbody>tr>td {
  padding: 0 6px;
  width: fit-content;
  min-width: 35px;
}
