@import url('https://fonts.googleapis.com/css?family=Lato');


.App {
  text-align: center;
  padding-top: 20px;
}

body {
  background-color: whitesmoke;
  font-family: 'Lato', sans-serif;
}

.preview-container {
  text-decoration: none;
}

.preview-container>table {
  width: 40%;
  margin-bottom: 30px;
  opacity: 0.85;
  transition: transform .2s;
}

.preview-container>table:hover {
  transform: scale(1.05);
  opacity: 1.0;
}

.preview-container th {
  background-color: rgb(22, 22, 80);
}

.preview-container h2 {
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.preview-container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 4px;
}

th {
  background-color: rgb(22, 22, 80);
  color: whitesmoke;
}

th, td {
  border: 1px solid rgb(0, 0, 0);
  min-width: 45px;
  height: 35px;
  padding: 0 4px;
}

.team-name {
  font-weight: 600;
  background-color: lightgray;
}

.player-name {
  font-weight: 600;
}

.player-stats-mlb .player-name {
  background-color: lightgray;
}

.back {
  width: 120px;
  margin-left: 40px;
}

.back>a {
  text-decoration: none;
  color: black;
}

.back>a:hover {
  text-decoration: underline;
}

.boxscore-container img {
  float: left;
  width: 20px;
}


.boxscore-container>a>h3 {
  float: right;
  line-height: 30px;
}

.boxscore {
  overflow-x: auto;
}

.boxscore-hr {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 0;
}

.statsheet {
  width: 100%;
}

.player-stats-col {
  float: left;
  width: 47%;
  margin: 2% 1.4%;
}

.player-stats-col>h3 {
  font-size: 20px;
}

.starter {
  background-color: rgb(226, 226, 226);
}

.player-stats-nba {
  font-size: 14px;
}

.player-stats-mlb {
  font-size: 14px;
}

.player-stats-mlb>h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.player-stats-mlb>div {
  width: fit-content;
  margin: 0 auto;
}

.player-stats-nba>table>tbody>tr>th, .player-stats-nba>table>tbody>tr>td {
  padding: 0 6px;
  width: fit-content;
  min-width: 45px;
}

.player-stats-mlb>table>tbody>tr>th, .player-stats-mlb>table>tbody>tr>td {
  padding: 0 7px!important;
  width: fit-content;
  min-width: 45px;
}

.information-container {
  text-align: left;
  clear: both;
  width: 35%;
  margin: 40px auto;
  border: 1px solid black;
  border-radius: 4px;
}

.information-container>.header {
  width: 100%;
  background-color: rgb(22, 22, 80);
  color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
}

.information-container>.content {
  padding: 20px;
}

.information-container h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.information-container h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 500;
}

.information-container ul {
  margin: 0;
  width: fit-content;
}

@media only screen and (max-width: 1100px) {

  .boxscore-container h1 {
    width: 85%;
    margin: 20px auto;
  }

  .player-stats-col {
    float: none;
    width: 85%;
    margin: 0 auto;
  }

  .boxscore {
    width: 85%;
    margin: 0 auto;
  }

  .player-stats-mlb>div {
    width: 100%;
    overflow-x: auto;
  }

  .player-stats-nba {
    width: 100%;
    overflow-x: auto;
  }

  tr {
    min-width: 40px;
  }

}

@media only screen and (max-width: 780px) {

  .preview-container table {
    width: 80%;
  }

}

@media only screen and (max-width: 600px) {

  .information-container {
    width: 75%;
  }

}
